<h1>Listing project_files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Folder</th>
      <th>Project</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_files.each do |project_file| %>
      <tr>
        <td><%= project_file.name %></td>
        <td><%= project_file.folder %></td>
        <td><%= project_file.project %></td>
        <td><%= project_file.user %></td>
        <td><%= link_to 'Show', project_file %></td>
        <td><%= link_to 'Edit', edit_project_file_path(project_file) %></td>
        <td><%= link_to 'Destroy', project_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project file', new_project_file_path %>
