<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_file.name %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @project_file.folder %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_file.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @project_file.user %>
</p>

<%= link_to 'Edit', edit_project_file_path(@project_file) %> |
<%= link_to 'Back', project_files_path %>
